<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>

<table>
<tr><td>★name</td><td>crazy bastard</td></tr>
<tr><td>★birthday</td><td>oct.16th</td></tr>
<tr><td>★age</td><td>23</td></tr>
<tr><td>★address</td><td>who knows?</td></tr>
<tr><td>★favorite singer</td><td>the hiatus</td></tr>
<tr><td>★favorite food</td><td>ramen jiro</td></tr>
<tr><td>★hobby</td><td>movie</td></tr>
<tr><td>★anyone i like</td><td>guess whom lol</td></tr>
</table>
